.listing {
  width: 50%;
  max-width: 35rem;
  display: block;
  margin: 1rem;
}
.listing h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #353336;
  display: block;
}

.listing ol {
  /* height: 280px; */
  max-height: 18rem;
  overflow: hidden;
  overflow-y: auto;
}

.listing ol li {
  margin: 5px;
  width: fit-content;
}

.listing ol li input {
  margin: 5px 40px;
  padding: 10px;
}

.listing .iconbtn:hover {
  cursor: pointer;
}
