.profile {
  margin: 3rem auto;
  text-align: center;
}

.profile h1 {
  font-size: 1.5rem;
  color: #38015c;
  text-decoration: underline;
}

.profile .todoslist {
  display: flex;
  width: 80%;
  max-width: 55rem;
  align-items: flex-start;
  flex-direction: row;
  margin: auto;
}
